body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

header {
  width: 100%;
  text-align: center;
  background-color: #444;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
  margin: 0;
  color: white;
}

.slider {
  margin-top: 20px;
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-btn {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  outline: none;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active, .dot:hover {
  background-color: rgba(255, 255, 255, 1);
}
