#calculator{
  font-family: sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}


#display{
  width: 100%;
  padding:20px;
  font-size: 5rem;
  text-align: left;
  border:none;
  background-color: rgba(128, 128, 128, 0.779);
  color:white;
  
}


body{
  margin:0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding:25px;
}


button{
  width:100px;
  height:100px;
  border-radius: 50px;
  border:none;
  background-color: orange;
  color:white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}


button:hover{
  background-color: orangered;
}


button:active{
  background-color: yellow;
}
