body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h1 {
  margin: 0 0 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}

ul li {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

ul li button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

ul li button:hover {
  background-color: #c82333;
}

.total {
  margin-top: 20px;
  font-size: 18px;
}

#expense-chart {
  margin-top: 20px;
  max-width: 300px;
  max-height:300px;
}
